CAMPAIGN_API_URL=http://localhost:3003
POSTGRE_HOST=aws-0-ap-southeast-2.pooler.supabase.com
POSTGRE_PORT=5432
POSTGRE_USERNAME=postgres.your-project-ref
POSTGRE_PASSWORD=change_me
POSTGRE_NAME=postgres
POSTGRE_SSLMODE=require
ASSET_BASE_URL=https://storage.googleapis.com/ziswaf-asset-stg
